## .gitignore for testserver ##

/catalog
/circ
/cgi-bin
/data
/lock
/log
/penalty
/run
/updates
/xsl
/web/conify
/web/reports
/web/reporter
/web/standalone
/web/xul

*.log
*.zip
*.tar
*.gz
.svn*

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.ehthumbs.db
Thumbs.db

eg_cache_hash
Makefile*
persist-override.db
