<div id="gold-links-holder">
    <div id="gold-links">
        <div id="header-links">
            <span class="opac-button-goldlinks"><a href="http://sage.eou.edu">[% l('Catalog Home') %]</a></span>
	    <span class="opac-button-goldlinks"><a href="http://sage.eou.edu/eg/kpac/home">[% l('Kids Catalog') %]</a></span>
            <span class="opac-button-goldlinks"><a href="http://sagelib.org/aboutus') %]">[% l('About Sage') %]</a></span>
	    <span class="opac-button-goldlinks"><a href="http://batchgeo.com/map/d325cffa95d06f3d90a408592a00e3c7" target="_blank">[% l('Sage Member Map') %]</a></span>
            <span class="opac-button-goldlinks"><a href="http://sage.eou.edu/opac/extras/feed/freshmeat/htmlholdings-full/biblio/import/25">[% l('Newest Titles') %]</a></span>
            <span class="opac-button-goldlinks"><a href="http://www.fantasticfiction.co.uk" target="_blank">[% l('Fantastic Fiction') %]</a></span>
            <span class="opac-button-goldlinks"><a href="http://library2go.lib.overdrive.com" target="_blank">[% l('Library2Go') %]</a></span>
	    <span class="opac-button-goldlinks"><a href="[% mkurl(ctx.opac_root _ '/sliders') %]">[% l('New Item Sliders') %]</a></span>
        </div>
    </div>
</div>
