<div class="login-help-box">

    <div class="login-help-button">
        <a href="http://sagelib.org/help/managing-your-online-library-account" class="opac-button">[% l('Questions?') %]</a>
    </div>

    <div>
        [% l('Visit our FAQs section for answers to common questions about how to use your account.') %]
    </div>

    <div class="login-help-button">
        <div class="opac-multiline-button">
        <a href="http://sagelib.org/help">[% l('FAQs') %]</a>
	</div>
    </div>

</div>
